
@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="br-mailbox-list ps ps--theme_default ps--active-y" data-ps-id="7a4680f7-5fbe-1b05-8ec8-b8dbe07f7215">
    <div class="br-mailbox-list-header">
        <a href="" id="showMailBoxLeft" class="show-mailbox-left hidden-sm-up">
            <i class="fa fa-arrow-right"></i>
        </a>
        <h6 class="tx-inverse mg-b-0 tx-13 tx-uppercase">Inbox <span class="tx-roboto">(2)</span></h6>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-light disabled pd-x-25"><i class="fa fa-angle-left"></i></button>
            <button type="button" class="btn btn-light pd-x-25"><i class="fa fa-angle-right"></i></button>
        </div>
    </div><!-- br-mailbox-list-header -->
    <div class="br-mailbox-list-body">
        <div class="br-mailbox-list-item active">
            <div class="d-flex justify-content-between mg-b-5">
                <div>
                    <i class="icon ion-ios-star tx-warning"></i>
                    <i class="icon ion-android-attach"></i>
                </div>
                <span class="tx-12">10 hours ago</span>
            </div><!-- d-flex -->
            <h6 class="tx-14 mg-b-10 tx-gray-800">Socrates Itumay, me (4)</h6>
            <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
        </div><!-- br-mailbox-list-item -->
        <div class="br-mailbox-list-item unread">
            <div class="d-flex justify-content-between mg-b-5">
                <div>
                    <i class="icon ion-ios-star"></i>
                    <i class="icon ion-android-attach"></i>
                </div>
                <span class="tx-12">1 day ago</span>
            </div><!-- d-flex -->
            <h6 class="tx-14 mg-b-10 tx-gray-800">Envato, me (2)</h6>
            <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
        </div><!-- br-mailbox-list-item -->
        <div class="br-mailbox-list-item">
            <div class="d-flex justify-content-between mg-b-5">
                <div>
                    <i class="icon ion-ios-star"></i>
                    <i class="icon ion-android-attach"></i>
                </div>
                <span class="tx-12">2 days ago</span>
            </div><!-- d-flex -->
            <h6 class="tx-14 mg-b-10 tx-gray-800">Themeforest</h6>
            <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
        </div><!-- br-mailbox-list-item -->
        <div class="br-mailbox-list-item">
            <div class="d-flex justify-content-between mg-b-5">
                <div>
                    <i class="icon ion-ios-star"></i>
                    <i class="icon ion-android-attach"></i>
                </div>
                <span class="tx-12">2 days ago</span>
            </div><!-- d-flex -->
            <h6 class="tx-14 mg-b-10 tx-gray-800">Reynante Labares, me (2)</h6>
            <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
        </div><!-- br-mailbox-list-item -->
        <div class="br-mailbox-list-item">
            <div class="d-flex justify-content-between mg-b-5">
                <div>
                    <i class="icon ion-ios-star"></i>
                    <i class="icon ion-android-attach"></i>
                </div>
                <span class="tx-12">3 days ago</span>
            </div><!-- d-flex -->
            <h6 class="tx-14 mg-b-10 tx-gray-800">Isidore Dilao (3)</h6>
            <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
        </div><!-- br-mailbox-list-item -->
        <div class="br-mailbox-list-item">
            <div class="d-flex justify-content-between mg-b-5">
                <div>
                    <i class="icon ion-ios-star"></i>
                    <i class="icon ion-android-attach"></i>
                </div>
                <span class="tx-12">Sep 20</span>
            </div><!-- d-flex -->
            <h6 class="tx-14 mg-b-10 tx-gray-800">Reynante Labares, me (2)</h6>
            <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
        </div><!-- br-mailbox-list-item -->
        <div class="br-mailbox-list-item">
            <div class="d-flex justify-content-between mg-b-5">
                <div>
                    <i class="icon ion-ios-star"></i>
                    <i class="icon ion-android-attach"></i>
                </div>
                <span class="tx-12">Sep 19</span>
            </div><!-- d-flex -->
            <h6 class="tx-14 mg-b-10 tx-gray-800">Envato, me (2)</h6>
            <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
        </div><!-- br-mailbox-list-item -->
        <div class="br-mailbox-list-item">
            <div class="d-flex justify-content-between mg-b-5">
                <div>
                    <i class="icon ion-ios-star"></i>
                    <i class="icon ion-android-attach"></i>
                </div>
                <span class="tx-12">Sep 17</span>
            </div><!-- d-flex -->
            <h6 class="tx-14 mg-b-10 tx-gray-800">Themeforest</h6>
            <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
        </div><!-- br-mailbox-list-item -->
    </div><!-- br-mailbox-list-body -->
    <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
    <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;">
        </div>
    </div>
    <div class="ps__scrollbar-y-rail" style="top: 0px; height: 597px; right: 0px;">
    <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 370px;">
        </div>
    </div>
</div>

<div class="br-mailbox-body">
    <div class="br-msg-header d-flex justify-content-between">
        <div class="media align-items-center">
            <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
            <div class="media-body mg-l-10">
                <p class="tx-inverse tx-medium mg-b-0">Louise Kate Lumaad</p>
                <p class="tx-12 mg-b-0">
                    <span>Sep 20, 2017 8:45am</span>
                    <a href="" class="mg-l-5 tx-gray-500"><i class="icon ion-star"></i></a>
                    <a href="" class="mg-l-5 tx-gray-500"><i class="icon ion-android-attach"></i></a>
                </p>
            </div><!-- media-body -->
        </div><!-- media -->
        <nav class="nav nav-inline tx-size-24 mg-b-0 lh-0">
            @*<a href="#" class="btn btn-primary btn-icon mg-r-5 mg-b-10"><div><i class="fa fa-edit"></i></div></a>
            <a href="#" class="btn btn-danger btn-icon mg-r-5 mg-b-10"><div><i class="fa fa-file-pdf-o"></i></div></a>
            <a href="#" class="btn btn-dark btn-icon mg-r-5 mg-b-10"><div><i class="fa fa-print"></i></div></a>
            <a href="#" class="btn btn-warning btn-icon mg-r-5 mg-b-10"><div><i class="fa fa-send"></i></div></a>*@

            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="Cursor btn btn-page"><i class="fa fa-edit"></i></button>
                <button type="button" class="Cursor btn btn-page"><i class="fa fa-file-pdf-o"></i></button>
                <button type="button" class="Cursor btn btn-page"><i class="fa fa-print"></i></button>
                <button type="button" class="Cursor btn btn-page"><i class="fa fa-send"></i></button>
            </div>

            <button type="button" class="Cursor btn btn-page" style="margin-left: 15px;margin-right: 15px;"><i class="fa fa-paperclip"></i></button>

            <button type="button" class="Cursor btn btn-page" style="margin-right: 15px;">Record Payment</button>

            <a href="" class="nav-link tx-gray-light hover-inverse pd-x-5"><i class="icon ion-android-more-horizontal"></i></a>

            <a id="closeMail" href="" class="nav-link pd-x-5 mg-l-15 hidden-xl-up">
                <i class="icon ion-close"></i>
            </a>
        </nav>
    </div><!-- br-msg-header -->

    <div class="br-msg-body">
        @*<div id="wizard7" class="mg-t-80 wizard wizard-style-3 clearfix" role="application">
            <div class="steps clearfix">
                <ul role="tablist">
                    <li role="tab" class="first done" aria-disabled="false" aria-selected="false">
                        <a id="wizard7-t-0" href="#wizard7-h-0" aria-controls="wizard7-p-0">
                            <span class="number">1</span>
                            <span class="title">Personal Information</span>
                        </a>
                    </li>
                    <li role="tab" class="done" aria-disabled="false" aria-selected="false">
                        <a id="wizard7-t-1" href="#wizard7-h-1" aria-controls="wizard7-p-1">
                            <span class="number">2</span>
                            <span class="title">Billing Information</span>
                        </a>
                    </li>
                    <li role="tab" class="last current" aria-disabled="false" aria-selected="true">
                        <a id="wizard7-t-2" href="#wizard7-h-2" aria-controls="wizard7-p-2">
                            <span class="current-info audible">current step: </span>
                            <span class="number">3</span>
                            <span class="title">Payment Details</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content clearfix">
                <h3 id="wizard7-h-0" tabindex="-1" class="title">Personal Information</h3>
                <section id="wizard7-p-0" role="tabpanel" aria-labelledby="wizard7-h-0" class="body" aria-hidden="true" style="display: none;">
                    <p>Try the keyboard navigation by clicking arrow left or right!</p>
                </section>
                <h3 id="wizard7-h-1" tabindex="-1" class="title">Billing Information</h3>
                <section id="wizard7-p-1" role="tabpanel" aria-labelledby="wizard7-h-1" class="body" aria-hidden="true" style="display: none;">
                    <p>Wonderful transition effects.</p>
                </section>
                <h3 id="wizard7-h-2" tabindex="-1" class="title current">Payment Details</h3>
                <section id="wizard7-p-2" role="tabpanel" aria-labelledby="wizard7-h-2" class="body current" aria-hidden="false" style="display: block;">
                    <p>The next and previous buttons help you to navigate through your content.</p>
                </section>
            </div>
            <div class="actions clearfix">
                <ul role="menu" aria-label="Pagination">
                    <li class="" aria-disabled="false">
                        <a href="#previous" role="menuitem">Previous</a>
                    </li>
                    <li aria-hidden="true" aria-disabled="true" class="disabled" style="display: none;">
                        <a href="#next" role="menuitem">Next</a>
                    </li>
                    <li aria-hidden="false" style="display: block;">
                        <a href="#finish" role="menuitem">Finish</a>
                    </li>
                </ul>
            </div>
        </div>*@

        <h6 class="tx-inverse mg-b-25 lh-4">Message sent via your Envato Market profile from themepixels</h6>

        <p>Hi Isidore,</p>

        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>

        <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>

        <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.</p>

        <p>Regards,<br>ThemePixels</p>
    </div><!-- br-msg-body -->

    <div class="pd-x-30 pd-b-30">
        <div class="row flex-row-reverse">
            <div class="col-md-9">
                <textarea class="form-control ht-150" placeholder="Click to write message"></textarea>
            </div><!-- col-9 -->
            <div class="col-md-3 mg-t-30 mg-md-t-0">
                <div class="ht-150 bd bd-dashed d-flex align-items-center justify-content-center rounded bg-gray-300">
                    <div class="tx-center wd-60p">
                        <i class="icon ion-android-attach tx-32"></i>
                        <p class="tx-12">Drag or click to attach a file</p>
                    </div>
                </div>
            </div><!-- col-3 -->
        </div><!-- row -->
    </div>
</div>

<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>

<script>
      $(document).ready(function(){
        'use strict';


        $('#wizard7').steps({
          headerTag: 'h3',
          bodyTag: 'section',
          autoFocus: true,
          titleTemplate: '<span class="number">#index#</span> <span class="title">#title#</span>',
          cssClass: 'wizard wizard-style-3'
        });

      });
</script>