
@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="br-mailbox-list ps ps--theme_default ps--active-y" data-ps-id="7a4680f7-5fbe-1b05-8ec8-b8dbe07f7215">
            <div class="br-mailbox-list-header">
                <a href="" id="showMailBoxLeft" class="show-mailbox-left hidden-sm-up">
                    <i class="fa fa-arrow-right"></i>
                </a>
                <h6 class="tx-inverse mg-b-0 tx-13 tx-uppercase">Inbox <span class="tx-roboto">(2)</span></h6>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-light disabled pd-x-25"><i class="fa fa-angle-left"></i></button>
                    <button type="button" class="btn btn-light pd-x-25"><i class="fa fa-angle-right"></i></button>
                </div>
            </div><!-- br-mailbox-list-header -->
            <div class="br-mailbox-list-body">
                <div class="br-mailbox-list-item active">
                    <div class="d-flex justify-content-between mg-b-5">
                        <div>
                            <i class="icon ion-ios-star tx-warning"></i>
                            <i class="icon ion-android-attach"></i>
                        </div>
                        <span class="tx-12">10 hours ago</span>
                    </div><!-- d-flex -->
                    <h6 class="tx-14 mg-b-10 tx-gray-800">Socrates Itumay, me (4)</h6>
                    <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
                </div><!-- br-mailbox-list-item -->
                <div class="br-mailbox-list-item unread">
                    <div class="d-flex justify-content-between mg-b-5">
                        <div>
                            <i class="icon ion-ios-star"></i>
                            <i class="icon ion-android-attach"></i>
                        </div>
                        <span class="tx-12">1 day ago</span>
                    </div><!-- d-flex -->
                    <h6 class="tx-14 mg-b-10 tx-gray-800">Envato, me (2)</h6>
                    <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
                </div><!-- br-mailbox-list-item -->
                <div class="br-mailbox-list-item">
                    <div class="d-flex justify-content-between mg-b-5">
                        <div>
                            <i class="icon ion-ios-star"></i>
                            <i class="icon ion-android-attach"></i>
                        </div>
                        <span class="tx-12">2 days ago</span>
                    </div><!-- d-flex -->
                    <h6 class="tx-14 mg-b-10 tx-gray-800">Themeforest</h6>
                    <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
                </div><!-- br-mailbox-list-item -->
                <div class="br-mailbox-list-item">
                    <div class="d-flex justify-content-between mg-b-5">
                        <div>
                            <i class="icon ion-ios-star"></i>
                            <i class="icon ion-android-attach"></i>
                        </div>
                        <span class="tx-12">2 days ago</span>
                    </div><!-- d-flex -->
                    <h6 class="tx-14 mg-b-10 tx-gray-800">Reynante Labares, me (2)</h6>
                    <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
                </div><!-- br-mailbox-list-item -->
                <div class="br-mailbox-list-item">
                    <div class="d-flex justify-content-between mg-b-5">
                        <div>
                            <i class="icon ion-ios-star"></i>
                            <i class="icon ion-android-attach"></i>
                        </div>
                        <span class="tx-12">3 days ago</span>
                    </div><!-- d-flex -->
                    <h6 class="tx-14 mg-b-10 tx-gray-800">Isidore Dilao (3)</h6>
                    <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
                </div><!-- br-mailbox-list-item -->
                <div class="br-mailbox-list-item">
                    <div class="d-flex justify-content-between mg-b-5">
                        <div>
                            <i class="icon ion-ios-star"></i>
                            <i class="icon ion-android-attach"></i>
                        </div>
                        <span class="tx-12">Sep 20</span>
                    </div><!-- d-flex -->
                    <h6 class="tx-14 mg-b-10 tx-gray-800">Reynante Labares, me (2)</h6>
                    <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
                </div><!-- br-mailbox-list-item -->
                <div class="br-mailbox-list-item">
                    <div class="d-flex justify-content-between mg-b-5">
                        <div>
                            <i class="icon ion-ios-star"></i>
                            <i class="icon ion-android-attach"></i>
                        </div>
                        <span class="tx-12">Sep 19</span>
                    </div><!-- d-flex -->
                    <h6 class="tx-14 mg-b-10 tx-gray-800">Envato, me (2)</h6>
                    <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
                </div><!-- br-mailbox-list-item -->
                <div class="br-mailbox-list-item">
                    <div class="d-flex justify-content-between mg-b-5">
                        <div>
                            <i class="icon ion-ios-star"></i>
                            <i class="icon ion-android-attach"></i>
                        </div>
                        <span class="tx-12">Sep 17</span>
                    </div><!-- d-flex -->
                    <h6 class="tx-14 mg-b-10 tx-gray-800">Themeforest</h6>
                    <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
                </div><!-- br-mailbox-list-item -->
            </div><!-- br-mailbox-list-body -->
            <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;">
                </div>
            </div>
            <div class="ps__scrollbar-y-rail" style="top: 0px; height: 597px; right: 0px;">
                <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 370px;">
                </div>
            </div>
        </div>

        <div class="br-mailbox-body">
            <div class="br-msg-header d-flex justify-content-between">
                <div class="media align-items-center">
                    <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                    <div class="media-body mg-l-10">
                        <p class="tx-inverse tx-medium mg-b-0">Louise Kate Lumaad</p>
                        <p class="tx-12 mg-b-0">
                            <span>Sep 20, 2017 8:45am</span>
                            <a href="" class="mg-l-5 tx-gray-500"><i class="icon ion-star"></i></a>
                            <a href="" class="mg-l-5 tx-gray-500"><i class="icon ion-android-attach"></i></a>
                        </p>
                    </div><!-- media-body -->
                </div><!-- media -->
                <nav class="nav nav-inline tx-size-24 mg-b-0 lh-0">
                    @*<a href="#" class="btn btn-primary btn-icon mg-r-5 mg-b-10"><div><i class="fa fa-edit"></i></div></a>
                        <a href="#" class="btn btn-danger btn-icon mg-r-5 mg-b-10"><div><i class="fa fa-file-pdf-o"></i></div></a>
                        <a href="#" class="btn btn-dark btn-icon mg-r-5 mg-b-10"><div><i class="fa fa-print"></i></div></a>
                        <a href="#" class="btn btn-warning btn-icon mg-r-5 mg-b-10"><div><i class="fa fa-send"></i></div></a>*@

                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="Cursor btn btn-page"><i class="fa fa-edit"></i></button>
                        <button type="button" class="Cursor btn btn-page"><i class="fa fa-file-pdf-o"></i></button>
                        <button type="button" class="Cursor btn btn-page"><i class="fa fa-print"></i></button>
                        <button type="button" class="Cursor btn btn-page"><i class="fa fa-send"></i></button>
                    </div>

                    <button type="button" class="Cursor btn btn-page" style="margin-left: 15px;margin-right: 15px;"><i class="fa fa-paperclip"></i></button>

                    <button type="button" class="Cursor btn btn-page" style="margin-right: 15px;">Record Payment</button>

                    <a href="" class="nav-link tx-gray-light hover-inverse pd-x-5">
                        <i class="icon ion-android-more-horizontal"></i></a>

                    <a id="closeMail" href="" class="nav-link pd-x-5 mg-l-15 hidden-xl-up">
                        <i class="icon ion-close"></i>
                    </a>
                </nav>
            </div><!-- br-msg-header -->

            <div class="br-msg-body">

                
                    <div class="modal-dialog modal-lg" style="margin-top: 0px;">
                        <div class="modal-content">
                            <div class="modal-body">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#infoPanel" role="tab">Info</a>
                                    <li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#ads" role="tab">Ads</a>
                                    <li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#schedulePanel" role="tab">Schedule</a>
                                    <li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#reviewPanel" role="tab">Review</a>
                                    <li>
                                </ul>

                                <div class="tab-content mt-2">
                                    <div class="tab-pane fade show active" id="infoPanel" role="tabpanel">
                                        <h4>Information</h4>
                                        <div class="form-group">
                                            <label for="campaignName">Campaign Name</label>
                                            <input type="text" class="form-text" id='campaignName'></input>
                                        </div>
                                        <button class="btn btn-secondary" id="infoContinue">Continue</button>
                                    </div>
                                    <div class="tab-pane fade" id="ads" role="tabpanel">
                                        <h4>Ads</h4>
                                        <div class="form-group">
                                            <label for="exampleInputFile">Fullscreen Ad Image</label>
                                            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                            <small id="fileHelp" class="form-text text-muted">Select a file to use as the fullscreen ad image. Please ensure the size is at least 1080x1920 with a 9:16 (portrait) aspect ratio.</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputFile">Banner Ad Image</label>
                                            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                            <small id="fileHelp" class="form-text text-muted">Select a file to use as the banner ad image. Please ensure the size is exactly 1080x450 for proper rendering.</small>
                                        </div>
                                        <button class="btn btn-secondary" id="adsContinue">Continue</button>
                                    </div>
                                    <div class="tab-pane fade" id="schedulePanel" role="tabpanel">
                                        <h4>Schedule</h4>
                                        <div id="scheduleAccordion" class="mb-3" role="tablist" aria-multiselectable="true">
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingOne">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" data-parent="#scheduleAccordion" href="#scheduleAccordioncollapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Start and Stop Date
                                                        </a>
                                                    </h5>
                                                </div>

                                                <div id="scheduleAccordioncollapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="card-block">
                                                        <div class="form-group row">
                                                            <label for="example-date-input" class="col-2 col-form-label">Start Date</label>
                                                            <div class="col-10">
                                                                <input class="form-control" type="date" value="2018-01-09" id="start-date">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="example-date-input" class="col-2 col-form-label">Stop Date</label>
                                                            <div class="col-10">
                                                                <input class="form-control" type="date" value="2018-01-09" id="stop-date">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingTwo">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#scheduleAccordion" href="#scheduleAccordioncollapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Rules for Specific Days
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="scheduleAccordioncollapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="card-block">
                                                        <h6>Play on the following days (check all that apply)</h6>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input" id="sunday">
                                                                Sunday
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input" id="monday">
                                                                Monday
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input" id="tuesday">
                                                                Tuesday
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input" id="wednesday">
                                                                Wednesday
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input" id="thursday">
                                                                Thursday
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input" id="friday">
                                                                Friday
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input" id="saturday">
                                                                Saturday
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingThree">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#scheduleAccordion" href="#scheduleAccordioncollapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            Rules for Specific Times
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="scheduleAccordioncollapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="card-block">
                                                        <h6>Play during the following timeframes (applies to each day)</h6>
                                                        <div class="form-group row">
                                                            <label for="example-time-input" class="col-2 col-form-label">Start Time</label>
                                                            <div class="col-10">
                                                                <input class="form-control" type="time" value="13:45:00" id="start-time">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="example-time-input" class="col-2 col-form-label">End Time</label>
                                                            <div class="col-10">
                                                                <input class="form-control" type="time" value="13:45:00" id="end-time">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-secondary" id="scheduleContinue">Continue</button>
                                    </div>
                                    <div class="tab-pane fade" id="reviewPanel" role="tabpanel">
                                        <h4>Review</h4>
                                        <button class="btn btn-primary btn-block" id="activate">Activate this Campaign!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <h6 class="tx-inverse mg-b-25 lh-4">Message sent via your Envato Market profile from themepixels</h6>

                <p>Hi Isidore,</p>

                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>

                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>

                <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.</p>

                <p>Regards,<br>ThemePixels</p>
            </div><!-- br-msg-body -->

            <div class="pd-x-30 pd-b-30">
                <div class="row flex-row-reverse">
                    <div class="col-md-9">
                        <textarea class="form-control ht-150" placeholder="Click to write message"></textarea>
                    </div><!-- col-9 -->
                    <div class="col-md-3 mg-t-30 mg-md-t-0">
                        <div class="ht-150 bd bd-dashed d-flex align-items-center justify-content-center rounded bg-gray-300">
                            <div class="tx-center wd-60p">
                                <i class="icon ion-android-attach tx-32"></i>
                                <p class="tx-12">Drag or click to attach a file</p>
                            </div>
                        </div>
                    </div><!-- col-3 -->
                </div><!-- row -->
            </div>
        </div>
<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>

@section scripts{

    @Scripts.Render("~/Scripts/js/Invoice.js")
}