
@{
    ViewBag.Title = "Internal Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-11 pd-sm-bottom-30">
                        <h4 class="tx-gray-800 mg-b-5">@ViewBag.Title</h4>
                        <p class="mg-b-0">Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

